.p-hero__heading{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: $slmo_cobalt;
    color: $slmo_white;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1em;
    margin: 0 auto;
    padding: .5em;

    @include circle(160px);
    @include shadow();
}
