.p-hero__heading{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: $slmo_cobalt;
    color: $slmo_white;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    padding: .5em;
    @include circle(160px);
    @include shadow();
}
